@import url('https://fonts.cdnfonts.com/css/br-sonoma');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #383838;
}

.home {
    display: flex;
    height: 100svh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top, #29C3DC 30%, #081120);
}
.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home .title {
    position: absolute;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    padding: 0 10%;
}

.about {
    background-color: #03182b;
    color: white;
    padding: 100px 0 15px 0;
}
.about h1 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

footer {
    display: grid;
    background-color: #1a1a1a;
    color: white;
    justify-content: right;
    border-top: 2px solid #4DC6DC;
    padding-right: 25px;
}

a {
    color: #ff6600;
}

.container {
    margin: 0 5%;
}

.center {
    display: grid;
    justify-items: center;
}

.center_text {
    text-align: center;
}

.info {
    display: grid;
    width: 50%;
    text-align: center;
    margin-top: -15px;
}

.titles {
    display: grid;
    justify-content: center;
}

.tags_content {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 1%;
    margin-bottom: 20px;
}

.subtema {
    margin-top: 100px;
}

@media (max-width: 800px) {
    .tags_content{
        grid-template-columns: 1fr;
    }

    .container {
        padding: 0 10% 0 10%;
    }

    footer {
        padding-right: 0;
        justify-content: center;
    }

    .home .title {
        font-size: 50px;
    }
}